<script>
import { EventBus } from '@/eventBus'
import Cores from '@/utils/cores'
import employeesServices from '@/services/employeesServices'
import GraficoDonut from './GraficoDonutModel'
import Tabela from './Tabela'

export default {
  components: {
    GraficoDonut, Tabela
  },
  data () {
    return {
      employees: [],
      datacollection: [],
      isCarregado: false,
      mensagemSemConexao: 'Carregando...'
    }
  },
  methods: {
    retornaListaNomesEmployees (employees) {
      return employees.map(employee => {
        return employee.nome + ' ' + employee.sobrenome
      })
    },
    retornaListaParticipacaoEmployees (employees) {
      return employees.map(employee => {
        return employee.participacao
      })
    },
    carregaDataCollectionGraficoDonut (employees) {
      this.datacollection = {
        labels: this.retornaListaNomesEmployees(employees),
        datasets: [
          {
            backgroundColor: Cores,
            data: this.retornaListaParticipacaoEmployees(employees)
          }
        ]
      }
    },
    preencherListas () {
       employeesServices.retornarEmployees()//  employeesServices.retornarEmployeesSample()
        .then(res => {
          this.employees = res.data
          console.log(this.employees)
          this.carregaDataCollectionGraficoDonut(res.data)
          this.isCarregado = true
        })
        .catch(err => {
          this.mensagemSemConexao = "A conexão não foi estabelecida."
        })
    }

  },
  created () {
    this.preencherListas()
    EventBus.$on('employeeCriado', (employee) => {
      console.log('preencherListas')
      this.preencherListas()
    })
  }
}
</script>

<template>
<section>
  <div v-if="isCarregado" class="dados">
    <div  class="container container-titulo">
      <h1 class="titulo align-middle"><b>DADOS</b></h1>
      <p class="align-middle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, atque vero provident pariatur ipsa eveniet.</p>
    </div>
    <div v-if="employees.length" class="row informacoes">
          <tabela :employees="employees"></tabela>
          <div class="div-donut col-lg-6">
            <grafico-donut class="grafico-donut" :chart-data="datacollection"></grafico-donut>
          </div>
    </div>
    <div class="msg-aviso" v-else><h3>Nenhum dado cadastrado.</h3></div>
  </div>
  <div class="msg-aviso" v-else><h3>{{ mensagemSemConexao }}</h3></div>
  </section>
</template>

<style>

.informacoes{
  margin: 80px 10px 0px 10px;
}
.msg-aviso{
  margin-top: 50px;
}
.dados{
  margin: 80px 250px 100px;
}
.container-titulo{
  margin: 0 auto;
}
.grafico-donut{
    width: 600px;
    height: 340px;
    display: block;
    margin: 0 auto;
    display: inline-block;
}
.div-donut {
    display: inline-block;
  }

@media (max-width: 1234px){
  .grafico-donut {
    margin: 50px 0px;
    width: 400px;
    height: 230px;
  }
  .dados{
  margin: 80px 150px 100px;
  }
}

@media (max-width: 635px){
  .grafico-donut {
    width: 300px;
    height: 230px;
  }

}
@media(max-width: 540px){
  .dados{
    margin: 80px 10px 100px;
  }
}
</style>
