<script>
import TopBar from './topbar/TopBar'
import Dados from './dados/Dados'

export default {
  components: {
    TopBar, Dados
  }
}
</script>

<template>
<div>
  <top-bar></top-bar>
  <dados></dados>
</div>

</template>

<style>
</style>
