<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
:root{
  --azul-principal: rgb(0, 184, 226);
}

#app {
  min-width: 335px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
